# Helm
.git/
.gitignore
.circleci/
build/
.vscode/
.idea/
*.swp
*.bak
*.tmp
*.orig

# Documentation
README.md
CONTRIBUTING.md
LICENSE

# Development
values-dev.yaml
values-local.yaml

# Testing
*.test

# Chart files
Chart.lock
